{% extends "projects/project_base.html" %}
{% block preproj %}
    <h1>{{ project.name }}</h1>
    <h2>Member Count:{{ project.members.count }}</h2>

    <div class="content">
        {% if user in project.members.all %}
            <a href="{% url 'project:leave' slug=project.slug %}"
               class="btn btn-lg btn-fill btn-warning">
                <span class="glyphicon glyphicon-remove-circle"></span>Leave</a>
        {% else %}
            <a href="{% url 'project:join' slug=project.slug %}"
               class="btn btn-lg btn-fill btn-primary">
                <span class="glyphicon glyphicon-ok-circle"></span>Join</a>
        {% endif %}
    </div>
{% endblock %}


{% block proj_content %}
    <div class="col-md-8">
        {% if project.task.count == 0 %}
            <h2>No Task Remains Or Created Project Yet..!!</h2>
        {% else %}
            {% for task in project.task.all %}
                {% include "tasks/_task.html" %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}


